.search {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .search {
    width: 100%;
    order: 3;
  }
}
@media (min-width: 992px) {
  .search {
    flex-grow: 1;
    order: 2;
  }
}
.search input {
  flex-grow: 1;
  padding: 0.35rem 0.75rem;
  border: none;
  background-color: var(--light);
  color: var(--dark);
  font-size: 1rem;
}
.select {
  max-width: 100px;
}
.icon {
  background-color: #eee;
  color: var(--dark);
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
[dir='ltr'] .icon {
  border-top-right-radius: calc(var(--bdRadius) / 2);
  border-bottom-right-radius: calc(var(--bdRadius) / 2);
}
[dir='rtl'] .icon {
  border-top-left-radius: calc(var(--bdRadius) / 2) !important;
  border-bottom-left-radius: calc(var(--bdRadius) / 2) !important;
}
.search-results {
  position: absolute;
  background-color: var(--light);
  color: var(--dark);
  z-index: 5000;
  left: 0;
  top: calc(100% + 5px);
  width: 100%;
  padding: 0.5rem 1rem;
  max-height: 250px;
  overflow: auto;
  border-radius: calc(var(--bdRadius) / 2) !important;
  border: 1px solid #eee;
  box-shadow: 1px 1px 3px 1px #ddd;
}
.search-results a {
  display: block;
  padding: 0.3rem 0;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 0.85rem;
}
.search-results a:hover {
  color: var(--main-color);
}