.password-wrapper {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 767px) {
  .password-wrapper {
    flex-direction: column;
  }
}
.show-password {
  color: #777;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 40px;
}
[dir="ltr"] .show-password {
  right: 0px;
}
[dir="rtl"] .show-password {
  right: auto;
  left: 0px;
}