@media (max-width: 767px) {
  .checkout-wrapper {
    margin-bottom: 61px;
  }
}
.stepper-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 767px) {
  .stepper-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
}
.steps-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.25rem;
}
.order-summary {
  padding: 1rem;
  border-radius: var(--bdRadius);
  box-shadow: rgb(0 0 0 / 14%) 0px 0px 20px 6px, rgb(0 0 0 / 0%) 0px 1px 1px 0px,
    rgb(0 0 0 / 0%) 0px 1px 3px 0px;
}
@media (max-width: 767px) {
  .order-summary {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .order-summary {
    position: sticky;
    top: 1rem;
  }
}
